<div>
    <div class="selected" n:foreach="$activeValue as $key=>$item">{$key}</div>
    <div class="options">
        <a n:foreach="$values as $key=>$item" n:if="!$item['active']" href="{plink $item['route'] (expand) $item['parameters']}">{$key}</a>
    </div>
</div>

{*
<div class="language-select">
    <a n:foreach="$values as $key=>$item" href="{plink $item['route'] (expand) $item['parameters']}" n:class="$item['active']?active, ajax">{$key}</a>
    <div class="language-select-delete" n:ifset="$hasLocale[$activeValue[$activeKey]['parameters'][0]]">
        <a href="{plink DeleteSwitchFkId! $activeValue[$activeKey]['parameters'][0]}" n:confirm="$presenter->translator->translate('switch-fkid-delete-confirm', [$activeKey])">{_'switch-fkid-delete'}</a>
    </div>
</div>

<select class="form-element">
    <option n:foreach="$values as $key => $item" {if $item['active']}selected{/if} value="{plink $item['route'] (expand) $item['parameters']}">{$key}</option>
</select>

*}
